.card {
  background-size: cover;
  background-position: center;
  height: 150px;
  margin: 15px 10px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  position: relative;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 1;
}

.main-container {
  display: flex;
}

.card a, i {
  position: absolute;
  right: 10px;
  top: 8px;
  color: white;
  font-size: 16px;
}

.see-more {
  position: relative !important;
  color: white;
  text-align: center;
  margin: 0;
  font-size: 14px !important;
}
